{% extends 'members_base.html' %}

{% block master_categories_link_class %}active{% endblock %}

{% block content %}

<section class="members-section">

    {% if object_list and object_list|length > 0 %}
    <div id="deleteMasterCategoryModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="deleteMasterCategoryModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="deleteMasterCategoryModalTitle" class="modal-title">Haupt-Kategorie löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {# TODO: show the option to convert all old posts to a new master-category #}
                    <p>Möchten Sie die Haupt-Kategorie wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button id="dismissBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button id="deleteMasterCategorySubmittBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Ja, Haupt-Kategorie löschen</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="d-flex justify-content-between">Alle Haupt-Kategorien: <div><a class="btn btn-primary" href="{% url 'members-add-master-category' %}">Neue Haupt-Kategorie erstellen</a></div></h1>
    <hr>
    <br/>

    {% if not object_list or object_list|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Hier befinden sich noch keine Haupt-Kategorien, erstelle doch gleich eine neue.
        </div>
    {% else %}
        {% if creation_succeed %}
            <div class="alert alert-success" role="alert">
                Haupt-Kategorie erfolgreich erstellt!
            </div>
            <br/>
        {% endif %}

        <div class="list-group overflow-auto">
            {% for master_category in object_list %}
                
                <li id="master-category-item-{{ master_category.pk }}" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 mt-1 me-auto">
                        <div class="fw-bold" style="font-size: 1.3rem;">{{ master_category.title }}</div>
                    </div>
                    <a class="btn btn-primary m-1" href="{% url 'members-edit-master-category' pk=master_category.pk %}">Bearbeiten</a>
                    <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#deleteMasterCategoryModal" data-bs-whatever="{{ master_category.pk }}">Löschen</button>
                </li>
            {% endfor %}
        </div>
        <br/>
        <br/>

    {% endif %}

    <script>
        var deleteMasterCategoryModal = document.getElementById('deleteMasterCategoryModal')
        deleteMasterCategoryModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            var modalDeleteBtn = deleteMasterCategoryModal.querySelector('#deleteMasterCategorySubmittBtn')

            modalDeleteBtn.addEventListener('click', function (event2) {
                fetch("{% url 'members-delete-master-category' pk=12345 %}".replace(/12345/, recipient.toString()), {
                    method: 'get',
                    headers: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                })
                .then(_ => {
                    document.getElementById('master-category-item-'+recipient).remove();
                })
                .catch(err => {
                    console.error(err);
                    alert('Haupt-Kategorie konnte leider nicht gelöscht werden!');
                });
            });
        });
    </script>

</section>

{% endblock %}