{% extends 'base.html' %}

{% block content %}

{% comment "old" %}
<h1>Posts</h1>

<ul>

{% for post in object_list %}
    <li><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> - 
    {{ post.author.first_name }} {{ post.author.last_name }} - <small>
    <a href="{% url 'update-post' post.pk %}">(Edit)</a> <a href="{% url 'delete-post' post.pk %}" >(Delete)</a>
    </small>
    </br>
    {{ post.content }}</li>
{% endfor %}
</ul>
{% endcomment %}

{% if home_content %}
    {{ home_content|safe }}
{% else %}
    <h1>Willkommen in Wikipeter 2.0</h1>
{% endif %}

{% endblock %}
